@using TerzaApp.Dati
@inject Archivio db
<h1>
    <i class="bi bi-pencil me-2" />
    @titolo
</h1>
@if(ChildContent != null)
{
    <p>@ChildContent</p>
}
@if (OnRicerca.HasDelegate)
{
    <div class="input-group">
        <ListaLut elementi="db.categorie" PK="x => x.IDcategoria" OnSelect="s => IdCategoria = s" etichetta="Categoria..." />
        <ListaLut elementi="db.collezioni" PK="x => x.IDcollezione" OnSelect="s => IdCollezione = s" etichetta="Collezione..." />
        <input class="form-control" placeholder="Cerca..." @oninput="TestoCambiato"/>
    </div>
}

@code {
    [Parameter] public string titolo { get; set; } = string.Empty;

    [Parameter] public RenderFragment? ChildContent { get; set; }

    [Parameter] public EventCallback<string> OnRicerca { get; set; }

    public int IdCollezione { get; set; } = 0;
    public int IdCategoria { get; set; } = 0;


    private void TestoCambiato(ChangeEventArgs eventArgs)
    {
        string valore = eventArgs.Value.ToString();
        if (OnRicerca.HasDelegate)
        {
            OnRicerca.InvokeAsync(valore);
        }
    }

}
