@page "/"
@using System.Text.Json
@using TerzaApp.Dati.Strutture
@inject TerzaApp.Dati.Archivio db

<Titolo @ref="titolo" titolo="Home" OnRicerca="t => testo = t">
    <i>Qui verranno esposti tutti i prodotti in vendita!</i>
</Titolo>
<br />
<div class="col-md-3">
    @if (disposizione)
    {
        <button class="btn btn-primary" @onclick="e => disposizione = !disposizione">
            <i class="bi bi-arrows-expand-vertical"></i>
        </button>
    }
    else
    {
        <button class="btn btn-primary" @onclick="e => disposizione = !disposizione">
            <i class="bi bi-arrows-collapse-vertical"></i>
        </button>
    }
</div>
@if (titolo != null)
{
    <div class="container mt-3">
        <div class="row">
            @foreach (Prodotto singolo in db.prodotti.Where(p => (p.Nome.Contains(testo) || p.Descrizione.Contains(testo)) && (titolo.IdCollezione != 0 || titolo.IdCollezione == p.IDcollezione) && (titolo.IdCategoria != 0 || titolo.IdCategoria == p.IDcategoria)))
            {
                if (singolo.Nome.Contains(testo) || singolo.Descrizione.Contains(testo))
                {
                    var nomeCategoria = db.categorie.FirstOrDefault(c => c.IDcategoria == singolo.IDcategoria)?.Nome;
                    var nomeCollezione = db.collezioni.FirstOrDefault(c => c.IDcollezione == singolo.IDcollezione)?.NomeCollezione;
                    <Product prodotto="singolo" inFila="@disposizione" categoria="@nomeCategoria" collezione="@nomeCollezione" source="@($"/Immagini/{singolo.href}")" />
                }
            }
        </div>
    </div>
}



@code {
    Titolo titolo = new Titolo();
    string testo = "";
    bool disposizione = true;

    void ricerca(string testoCercato)
    {
        testo = testoCercato;
    }
}


