<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TerzaApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door me-3"></span> Home
            </NavLink>
        </div>
        <VoceMenu href="Moltiplicazioni" icona="bi-calculator" descrizione="Moltiplicazioni" nuova="true"/>
        <VoceMenu href="Divisioni" icona="bi-calculator" descrizione="Divisioni" />
        <VoceMenu href="Spa" icona="bi-box2-fill" descrizione="Prodotti" />
        <VoceMenu href="Categorie" icona="bi-tags-fill" descrizione="Categorie" />
        <VoceMenu href="Collezioni" icona="bi-collection-fill" descrizione="Collezioni" />
        <VoceMenu href="Utenti" icona="bi-person-fill" descrizione="Utenti" />
        <VoceMenu href="RigaOrdini" icona="bi-basket" descrizione="Riga degli ordini" />
        <VoceMenu href="Ordini" icona="bi-cart" descrizione="Ordini" />
    </nav>
</div>

@code{
    VoceMenu voceMenu = new VoceMenu();
}

