@inherits LayoutComponentBase
<!-- è il template senza layout per le esportazioni -->
<div class="text-end">
    <div class="btn btn-small btn-primary" onclick="window.print();">Stampa</div>
</div>
<div class="page">
    @Body
</div>
