<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Stradario</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3 text-white">
            <NavLink class="nav-link" href="Spa">
                <i class="bi bi-geo-alt-fill me-3"></i> Nodi
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Archi">
                <i class="bi bi-signpost-2-fill me-3" aria-hidden="true"></i> Archi
            </NavLink>
        </div>
    </nav>
</div>

